<div class="footer wf-section">
    <div class="container-footer">
      <div class="container">
        <div class="top-section">
          <a href="{{ links.23 }}" class="logo cc-footer w-inline-block"><img src="{{ images.27789c17.url }}" alt="{{ images.27789c17.alt | trim | escape }}" class="image-logo"></a>
          <div class="footer-small-text">{{ texts.2267b30d }}</div>
        </div>
      </div>
      <div class="separator-footer">
        <div class="separator-color footer-line"></div>
      </div>
      <div class="container">
        <div class="bottom">
          <div class="bottom-1">
            <div data-delay="0" data-hover="false" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div>{{ texts.6dd211e }}</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                {%- assign collection = collections.category | sort: "-created-on" -%}<div class="w-dyn-list">
                  {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items">
                    {%- for item in collection -%}<div role="listitem" class="dropdown-link w-dyn-item">
                      <a href="{{ item.url }}" class="dropdown-link-text">{{ item.data.title }}</a>
                    </div>{%- endfor -%}
                  </div>{%- endunless -%}
                  {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ texts.3d503d2b }}</div>
                  </div>{%- endif -%}
                </div>
              </nav>
            </div>
            <div class="footer-categories">
              <div class="footer-title-text">{{ texts.-3be6ddc4 }}</div>
              <div class="footer-links-container cc-categories">
                {%- assign collection = collections.category | sort: "title" | limit: 8 -%}<div class="w-dyn-list">
                  {%- unless collection.length == 0 -%}<div role="list" class="collection-list w-dyn-items">
                    {%- for item in collection -%}<div role="listitem" class="footer-collection-item w-dyn-item">
                      <a href="{{ item.url }}" class="link-footer">{{ item.data.title }}</a>
                    </div>{%- endfor -%}
                  </div>{%- endunless -%}
                  {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ texts.3d503d2b }}</div>
                  </div>{%- endif -%}
                </div>
              </div>
            </div>
            <div class="footer-newsletter">
              <div class="footer-title-text">{{ texts.-1e301cf8 }}</div>
              <div class="form-block w-form">
                <form id="email-form" name="email-form" data-name="email" method="get" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field w-input" maxlength="256" name="Email-3" data-name="Email 3" placeholder="Email address" id="Email-3" required=""><input type="submit" value="Send" data-wait="Please wait..." class="submit-button w-button"></form>
                <div class="w-form-done">
                  <div>{{ texts.5a0ea5a1 }}</div>
                </div>
                <div class="w-form-fail">
                  <div>{{ texts.-7c112e99 }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-2">
            <div class="footer-links-container">
              <div class="footer-links">
                <div class="footer-title-text">{{ texts.-273fe2f4 }}</div>
                <div class="footer-links-inner">
                  <a href="{{ links.55b8e8be }}" class="nav-link white">{{ texts.585238d }}</a>
                  <a href="{{ links.5018bbe2 }}" class="nav-link white">{{ texts.38b72420 }}</a>
                  <a href="{{ links.23 }}" class="nav-link white">{{ texts.6924987 }}</a>
                </div>
              </div>
              <div class="footer-links">
                <div class="footer-title-text">{{ texts.2da5e16d }}</div>
                <div class="footer-links-inner">
                  <a href="{{ links.23 }}" class="nav-link white">{{ texts.1b907b2 }}</a>
                  <a href="{{ links.23 }}" class="nav-link white">{{ texts.1da19ac6 }}</a>
                  <a href="{{ links.23 }}" class="nav-link white">{{ texts.-369e558d }}</a>
                </div>
              </div>
              <div class="footer-links">
                <div class="footer-title-text">{{ texts.-4aeacf66 }}</div>
                <div class="footer-links-inner">
                  <a href="{{ links.-3f20c3a5 }}" class="nav-link white">{{ texts.58b94832 }}</a>
                  <a href="{{ links.132c1309 }}" class="nav-link white">{{ texts.42d540f5 }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>